.header_components {
    background-color: #EFF5F5;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}
.header_components h1 {
    font-size: 48px;
    font-weight: 900;
}

.header_components p {
    max-width: 1000px;
    font-weight: 700;
}

