.navigation {
    max-width: 1550px;
    max-height: 72px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    background-color: #D6E4E5;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    margin-right: 50px;
    font-weight: 800;
}