* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #EEEEEE;
}

header {
    background-color: #FFC700;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

footer {
    position: absolute;
    align-items: baseline;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

.note {
    border-radius: 7px;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 5px 5px 10px #cdcdcd,
        -5px -5px 10px #ffffff;
    padding: 10px;
    width: 20%;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    color: #615EFC;
}

.note p {
    font-size: 1em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}